@CHARSET "ISO-8859-1";

<!-- Applies font to everything, overwriting bootstrap default -->
* {
	font-family: 'Roboto', sans-serif;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
	background-color:#3f51b5;
	margin-bottom:20px;
}

.site_title {
	padding:15px;
	color:#fff;
}




body {
	width:100%;
	font-family: 'Roboto', sans-serif;
	margin:0 auto;
	background:none;
}

.post {
	background-color:#fff;
	max-width:500px;
    margin: 0 auto 40px;
    -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.2);
-moz-box-shadow:    0 0 15px 0 rgba(50, 50, 50, 0.2);
box-shadow:         0 0 15px 0 rgba(50, 50, 50, 0.2);
}

.post_header {
	background-color:#e51c23;
	text-align:right;
	font-size:1.3em;
	height:40px;
    padding: 5px 20px 5px 5px;
}

.post_image {
	width:500px;
	background-color:#333333;
}

.post_image img {
	width:100%;
}

.post_author {
	background-color:#ffffff;
	height:50px;
	font-size:1.8em;
    padding: 5px 10px 5px 5px;
    text-align:right;
	
}

.post_author img {
	height:50px;
	width:50px;
}

.post_caption {
	background-color:#fff;
	padding:20px;
	min-height:75px;
	font-size:1.1em;
}

.post_timestamp {
	background-color:#546e7a;
	color:#fff;
	text-align:center;
	padding:5px;
	
}

.post_share {
	background-color:#fff;
	min-height:15px;
	padding:5px;
	text-align:center;
}
.post_comments {
	min-height:50px;
	background-color:#eceff1;
	text-align:left;
}

.post_comment_form	{

	background-color:#cfd8dc;
	width:100%;
}

.comment_container {
	width:100%;
	padding:5px;
	text-align:left;
}

.comment_container table {
	width:100%;
	text-align:left;
}


.comment_readmore	{
	padding-top:5px;
	text-align:center;
}

.comment_user {
	margin-left:50px;
	width:50px;
}

.comment_message	{
	width:350px;
	text-align:left;
}


.account {
	width:800px;
	margin: 0 auto;
	background-color:#fff;
	min-height:300px;
	height:100%;
	-webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0 0 15px 0 rgba(50, 50, 50, 0.2);
	box-shadow:         0 0 15px 0 rgba(50, 50, 50, 0.2);
}

.account_caption {
	min-height:150px;
	font-size:1.1em;
}

.account_options {
	position:absolute;
	width:200px;
	padding:15px;
	height:150px;	
}

.account_view {
	width:300px;
	margin-left:200px;
	padding:15px;
	height:150px;
}



.account #details, #password, #profileimage, #bio, #profileBackground, #profileEmail {
	display:none;
}

#details {
	display:none;
}

.profile_header {
	width:60%;
	min-height:250px;
	padding:15px;
	background-color:rgba(20, 20, 20, 0.4);
	margin-bottom:25px;
}



.profile_content {
	
	padding:15px;
}

.profile_content h1 {
	color:#8bc34a;
}

.profile_right {
	text-align:right;
}

.profile_image {
	float:left;
	padding:15px;
	height:200px;
}

.profile_image img {
	height:200px;
}

.profile_info {
	font-size:1.2em;
	color:#fff;
	position:relative;
	margin-left:20px;
}


